* {
  padding: 0;
  margin: 0;
}
body {
  font-family: "Poppins", sans-serif;
}

/* header section start */
.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #ffa781;
}
.logo {
  padding: 0 3%;
}
.logo a {
  color: #5b0e2d;
  text-decoration: none;
  letter-spacing: 10px;
  font-size: 40px;
  font-family: "Pacifico", cursive;
}
.navbar {
  padding: 0 3%;
  display: flex;
  list-style: none;
}

.navbar a {
  display: block;
  padding: 1em;
  color: #5b0e2d;
  text-decoration: none;
  letter-spacing: 2px;
}
/* section-one-start */

.section-one-container {
  display: flex;
}
.section-one-content {
  margin-top: 15%;
  width: 50%;
  margin-left: 5%;
}
.section-one-content span {
  color: orange;
  margin-right: 3%;
}
.section-one-content h1 {
  font-size: 60px;
  font-family: "Lobster", cursive;
}
/* google font */
.section-one-content h3 {
  font-size: 25px;
  padding: 2% 0;
}
.section-one-content p {
  margin: 3% 0;
  margin-bottom: 5%;
  padding-right: 15%;
}
.section-one-img {
  margin-right: 4%;
  width: 50%;
  margin-top: 5%;
}
.section-one-img img {
  width: 100%;
}
/* css Button */
.my-btn {
  background: #cbe055;
  background-image: -webkit-linear-gradient(top, #cbe055, #86cc58);
  background-image: -moz-linear-gradient(top, #cbe055, #86cc58);
  background-image: -ms-linear-gradient(top, #cbe055, #86cc58);
  background-image: -o-linear-gradient(top, #cbe055, #86cc58);
  background-image: linear-gradient(to bottom, #f1df70, #f57474);
  -webkit-border-radius: 30;
  -moz-border-radius: 30;
  border-radius: 30px;
  color: #ffffff;
  font-size: 18px;
  padding: 2% 5%;
  text-decoration: none;
}

.my-btn:hover {
  background: #2d9fd4;
  background-image: -webkit-linear-gradient(top, #2d9fd4, #41d184);
  background-image: -moz-linear-gradient(top, #2d9fd4, #41d184);
  background-image: -ms-linear-gradient(top, #2d9fd4, #41d184);
  background-image: -o-linear-gradient(top, #2d9fd4, #41d184);
  background-image: linear-gradient(to bottom, #2d9fd4, #41d184);
  text-decoration: none;
}
/* section two start */
.section-two-container {
  display: flex;
  padding: 5% 4%;
  background-image: url(../images/bg-1.png);
  background-repeat: no-repeat;
  background-position: right;
}
.section-two-img {
  width: 50%;
}
.section-two-img img {
  margin-top: 12%;
  width: 54%;
  margin-left: 6%;
}
.section-two-content {
  width: 50%;
  margin-top: 20%;
}
.section-two-content h2 {
  font-size: 65px;
  font-family: "Lobster", cursive;
}
.section-two-content p {
  margin-bottom: 5%;
}
/* section-three-start  */
.s3-h2 {
  font-size: 65px;
  font-family: "Lobster", cursive;
  text-align: center;
}
.s3-p {
  margin-top: 2%;
  padding: 0 22%;
  text-align: center;
}
.section-three-content {
  display: flex;
}
/* content one */
.section-three-content-one {
  margin: 4% 0;
  padding: 15px 0;
  box-shadow: 5px 7px 40px grey;
  text-align: center;
  border-radius: 20px;
  margin-left: 5%;
}

.section-three-content-one img {
  width: 370px;
  height: 255px;
  border-radius: 15px;
}
.section-three-content-one h2 {
  margin: 15px 0;
}

/* content two */
.section-three-content-two {
  margin: 4% 2%;
  padding: 15px 10px;
  box-shadow: 5px 7px 40px grey;
  text-align: center;
  border-radius: 20px;
}
.section-three-content-two img {
  width: 340px;
  height: 250px;
  border-radius: 15px;
}
.section-three-content-two h2 {
  margin: 15px 0;
}

/* content three */
.section-three-content-three {
  margin: 4% 0;
  padding: 15px 0px;
  box-shadow: 5px 7px 40px grey;
  text-align: center;
  border-radius: 20px;
  margin-right: 5%;
}

.section-three-content-three img {
  width: 340px;
  height: 250px;
  border-radius: 15px;
}
.section-three-content-three h2 {
  margin: 15px 0;
}
/* section three end */

/* section-four-start */
.section-four-container {
  margin: 5% 5%;
  padding: 4% 2%;
  box-shadow: 5px 7px 40px grey;
  border-radius: 12px;
}

.section-four-content {
  text-align: center;
  display: flex;
}
.section-four-content-one {
  margin: 0 auto;
}
.section-four-content-two {
  margin: 0 auto;
}
.section-four-content-three {
  margin: 0 auto;
}
.s4-h3 {
  font-weight: 900;
  letter-spacing: 1px;
}
/* section-four-end  */

/* footer section */
.footer-content {
  padding: 5% 2%;
  background-color: black;
  color: white;
  text-align: center;
}
.footer-content span {
  color: orange;
}
.footer-content h2 {
  margin-bottom: 1%;
  letter-spacing: 2px;
  color: gray;
}
.footer-content p {
  letter-spacing: 1px;
  font-size: 14px;
  color: gray;
}
