* {
  padding: 0;
  margin: 0;
}
body {
  font-family: "Poppins", sans-serif;
}

/* header section start */
.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #ffa781;
}
.logo {
  padding: 0 3%;
}
.logo a {
  color: #5b0e2d;
  text-decoration: none;
  letter-spacing: 10px;
  font-size: 40px;
  font-family: "Pacifico", cursive;
}
.navbar {
  padding: 1% 3%;
  display: flex;
  list-style: none;
}

.navbar a {
  display: block;
  padding: 1em;
  color: #5b0e2d;
  text-decoration: none;
  letter-spacing: 2px;
}

/* Section-one-start */
.section-one-container {
  display: flex;
}
.section-one-content {
  margin-top: 15%;
  width: 50%;
  margin-left: 5%;
}
.section-one-content span {
  color: orange;
  margin-right: 3%;
}
.section-one-content h1 {
  font-size: 3.75em;
  font-family: "Lobster", cursive;
}
/* google font */
.section-one-content h3 {
  font-size: 25px;
  padding: 2% 0;
}
.section-one-content p {
  margin: 3% 0;
  margin-bottom: 5%;
  padding-right: 15%;
}
.section-one-img {
  margin-right: 4%;
  width: 50%;
  margin-top: 5%;
}
.section-one-img img {
  width: 100%;
}
/* css Button */
.my-btn {
  background: #cbe055;
  background-image: -webkit-linear-gradient(top, #cbe055, #86cc58);
  background-image: -moz-linear-gradient(top, #cbe055, #86cc58);
  background-image: -ms-linear-gradient(top, #cbe055, #86cc58);
  background-image: -o-linear-gradient(top, #cbe055, #86cc58);
  background-image: linear-gradient(to bottom, #f1df70, #f57474);
  -webkit-border-radius: 30;
  -moz-border-radius: 30;
  border-radius: 30px;
  color: #ffffff;
  font-size: 18px;
  padding: 2% 5%;
  text-decoration: none;
}

.my-btn:hover {
  background: #2d9fd4;
  background-image: -webkit-linear-gradient(top, #2d9fd4, #41d184);
  background-image: -moz-linear-gradient(top, #2d9fd4, #41d184);
  background-image: -ms-linear-gradient(top, #2d9fd4, #41d184);
  background-image: -o-linear-gradient(top, #2d9fd4, #41d184);
  background-image: linear-gradient(to bottom, #2d9fd4, #41d184);
  text-decoration: none;
}

/* Section two start */
.section-two-container {
  display: flex;
  padding: 5% 4%;
  background-image: url(../images/bg-1.png);
  background-repeat: no-repeat;
  background-position: right;
}
.section-two-img {
  width: 50%;
}
.section-two-img img {
  margin-top: 12%;
  width: 54%;
  margin-left: 6%;
}
.section-two-content {
  width: 50%;
  margin-top: 20%;
}
.section-two-content h2 {
  font-size: 4.0627em;
  font-family: "Lobster", cursive;
}
.section-two-content p {
  margin-bottom: 5%;
}

/* Section-three-start  */
.s3-container-h2 {
  font-size: 4.0627em;
  font-family: "Lobster", cursive;
  text-align: center;
}
.s3-container-p {
  margin-top: 2%;
  padding: 0 22%;
  text-align: center;
}
.section-three-content {
  display: flex;
}
/* content section */
.section-three-content-one {
  border-radius: 15px;
  padding: 12px 12px;
  text-align: center;
  box-shadow: grey 5px 7px 40px;
  margin: 30px 0;
  margin-left: 5%;
}
.section-three-content-two {
  border-radius: 15px;
  padding: 12px 12px;
  text-align: center;
  box-shadow: grey 5px 7px 40px;
  margin: 30px 30px;
}
.section-three-content-three {
  border-radius: 15px;
  padding: 12px 12px;
  text-align: center;
  box-shadow: grey 5px 7px 40px;
  margin: 30px 0;
  margin-right: 5%;
}
/* img section */

.section-three-content-one img {
  border-radius: 10px;
  height: 360px;
}
.section-three-content-two img {
  border-radius: 10px;
  height: 360px;
}
.section-three-content-three img {
  border-radius: 10px;
  height: 360px;
}
.s3-h2 {
  margin: 10px 0;
}
.s3-p {
  margin-bottom: 5%;
  padding: 5px 10px;
  line-height: 22px;
}

/* section three end */

/* section-four-start */
.section-four-container {
  margin: 5% 5%;
  padding: 4% 2%;
  box-shadow: 5px 7px 40px grey;
  border-radius: 12px;
}

.section-four-content {
  text-align: center;
  display: flex;
}
.section-four-content-one {
  margin: 0 auto;
}
.section-four-content-two {
  margin: 0 auto;
}
.section-four-content-three {
  margin: 0 auto;
}
.s4-h3 {
  font-size: 2.2em;
  font-weight: 900;
  letter-spacing: 1px;
}
/* section-four-end  */

/* Footer section */
.footer-content {
  padding: 5% 2%;
  background-color: black;
  color: white;
  text-align: center;
}
.footer-content span {
  color: orange;
}
.footer-content h2 {
  margin-bottom: 1%;
  letter-spacing: 2px;
  color: gray;
}
.footer-content p {
  letter-spacing: 1px;
  font-size: 14px;
  color: gray;
}
/* Social icon  */
.footer-social-icon .fa {
  text-decoration: none;
  font-size: 20px;
  padding: 12px 15px;
  margin: 0 10px;
  margin-top: 20px;
  border-radius: 8px;
}
.fa:hover {
  opacity: 0.7;
}

.fa-facebook {
  background: #3b5998;
  color: white;
}

.fa-twitter {
  background: #55acee;
  color: white;
}

.fa-google {
  background: #dd4b39;
  color: white;
}

.fa-linkedin {
  background: #007bb5;
  color: white;
}

.fa-youtube {
  background: #bb0000;
  color: white;
}
/* CSS END */
